:root {
  font-size: 10px; // 1rem = 10px
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "partials/spacing";
@import "partials/colors";
@import "partials/layout";
@import "partials/typography";
@import "partials/buttons";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;

  scroll-behavior: smooth;
  overflow-x: hidden;

  background-color: $black-dark;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

svg,
img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

@import "partials/icons";
@import "partials/menu";
@import "partials/footer";
@import "partials/animations";