:root {
  font-size: 10px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
@media screen and (max-width: 1440px) {
  .container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

h1 {
  color: #FCFDFF;
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-size: clamp(8rem, 8vw + 1rem, 15.2em);
  line-height: 100%;
}

h2 {
  color: #FCFDFF;
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-size: clamp(5.6rem, 6vw + 1rem, 14.4em);
  line-height: 100%;
}

h3 {
  color: #FCFDFF;
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-size: clamp(3.2rem, 2vw + 1rem, 4.8em);
  line-height: 100%;
}

h4 {
  color: #FCFDFF;
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-size: clamp(2.4rem, 1.5vw + 0.5rem, 3.2em);
  line-height: 100%;
}

p {
  color: #EFF5FD;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  line-height: 150%;
}
@media screen and (max-width: 1440px) {
  p {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 150%;
  }
}
@media screen and (max-width: 768px) {
  p {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
}

strong {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  line-height: 150%;
}
@media screen and (max-width: 1440px) {
  strong {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 150%;
  }
}
@media screen and (max-width: 768px) {
  strong {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

a {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  text-decoration: none;
  color: #99B7CD;
  transition: color 0.3s ease;
}
a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1440px) {
  a {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    line-height: 150%;
  }
}
@media screen and (max-width: 768px) {
  a {
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    line-height: 150%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #010E1E;
  -webkit-tap-highlight-color: transparent;
  /* Remove o destaque de toque */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

svg,
img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

header {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  position: fixed;
  z-index: 900;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header.active-header {
  transition: 0.5s ease;
  background-color: #010E1E;
  box-shadow: 0px 0px 60px -30px rgba(153, 183, 205, 0.9);
}
@media screen and (max-width: 1440px) {
  header.active-header {
    box-shadow: 0px 10px 40px -20px rgba(153, 183, 205, 0.9);
  }
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .navbar {
    padding: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 1.6rem;
  }
}

.logo {
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo > svg {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 1440px) {
  .logo {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.menu-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-desktop ul {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style-type: none;
}
.menu-desktop ul li a {
  display: inline-block;
  width: 100%;
  padding: 0.8rem;
}
@media screen and (max-width: 1440px) {
  .menu-desktop ul li a {
    padding: 0.4rem;
  }
}
.menu-desktop ul li a.active-menu {
  color: #FCFDFF;
  font-weight: bold;
}
.menu-desktop ul li a.active-menu > span {
  position: relative;
}
.menu-desktop ul li a.active-menu > span::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #FCFDFF;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.menu-desktop ul li a.active-menu:hover {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .menu-desktop {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #010E1E;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease;
  }
  .menu-desktop ul {
    width: 100%;
    margin-top: -6.4rem;
    flex-direction: column;
    gap: 1.6rem;
  }
  .menu-desktop ul li {
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .menu-desktop ul li:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  .menu-desktop ul li:nth-of-type(3) {
    transition-delay: 0.4s;
  }
  .menu-desktop ul li:nth-of-type(4) {
    transition-delay: 0.6s;
  }
  .menu-desktop.active-menu-mobile {
    pointer-events: visible;
    opacity: 1;
    width: 100%;
  }
  .menu-desktop.active-menu-mobile ul li {
    opacity: 1;
    transform: translateX(0);
  }
  .menu-desktop:not(.active-menu-mobile) ul li {
    opacity: 0;
    transform: translateX(50px);
    transition-delay: 0s;
  }
}

.menu-mobile {
  display: none;
  width: 3.2rem;
  height: 3.2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu-mobile > span {
  width: 100%;
  position: relative;
}
.menu-mobile > span::before, .menu-mobile > span::after {
  content: "";
  width: 80%;
  height: 2px;
  background-color: #FCFDFF;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 4px;
  transition: 0.5s ease;
}
.menu-mobile > span::before {
  bottom: 0.4rem;
}
.menu-mobile > span::after {
  top: 0.4rem;
}
@media screen and (max-width: 768px) {
  .menu-mobile {
    display: flex;
  }
}

span.toggle-button-menu::before {
  bottom: -1px;
  transform: translate(-50%) rotate(-135deg);
}
span.toggle-button-menu::after {
  top: -1px;
  transform: translate(-50%) rotate(-45deg);
}

main {
  overflow: hidden;
  height: 100vh;
  max-height: 1080px;
  min-height: 400px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25rem;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(1, 14, 30, 0) 50%, rgb(1, 14, 30) 100%);
}

.hero {
  padding: 10vh 0 5vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}
.hero h4 {
  display: inline-block;
  line-height: 100%;
  padding-left: 0.6rem;
  position: relative;
}
.hero h4.h4-name {
  top: 1.6rem;
}
.hero h4.h4-dev {
  top: 1.3rem;
}
@media screen and (max-width: 1440px) {
  .hero::after {
    height: 15rem;
  }
  .hero h4 {
    padding-left: 0.4rem;
  }
  .hero h4.h4-name {
    top: 1rem;
  }
  .hero h4.h4-dev {
    top: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    padding: 10vh 2.4rem 5vh;
  }
  .hero h4.h4-name {
    top: 1rem;
  }
  .hero h4.h4-dev {
    top: 0.8rem;
  }
}

.main-item-1 {
  cursor: default;
  padding-right: 8rem;
  align-self: flex-end;
}
@media screen and (max-width: 1440px) {
  .main-item-1 {
    padding-right: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .main-item-1 {
    padding-right: 0;
  }
  .main-item-1 h1#name {
    max-width: 27.7rem;
    text-align: right;
  }
}

.main-item-2 {
  cursor: default;
  padding-left: 8rem;
  align-self: flex-start;
}
@media screen and (max-width: 1440px) {
  .main-item-2 {
    padding-left: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .main-item-2 {
    padding-left: 0;
  }
}

.main-item-3 {
  cursor: default;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 50vw;
  width: 100%;
  padding-left: 8rem;
  padding-right: 8rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 800;
  background: rgba(1, 14, 30, 0.69);
  background: radial-gradient(ellipse at center, rgba(1, 14, 30, 0.69) 0%, rgba(1, 14, 30, 0.69) 52%, rgba(1, 14, 30, 0) 85%, rgba(1, 14, 30, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010e1e", endColorstr="#010e1e", GradientType=1);
}
@media screen and (max-width: 1440px) {
  .main-item-3 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.main-item-3 .text-touch-mobile > p {
  text-shadow: 0px 0px 20px #010E1E;
}
.main-item-3 .circles-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.main-item-3 .circles-wrapper > span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  background-color: #FCFDFF;
  box-shadow: 0px 0px 38px 34px rgba(1, 14, 30, 0.7137254902);
}
@media screen and (max-width: 1440px) {
  .main-item-3 .circles-wrapper > span {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
}

.infinite-text {
  width: 40rem;
  display: none;
  position: absolute;
  bottom: 15%;
  right: 0;
  transform: rotate(-45deg);
}
.infinite-text .infinite-text-wrapper {
  cursor: default;
  white-space: nowrap;
  pointer-events: none;
}
.infinite-text .infinite-text-wrapper h3 {
  padding: 0 0.4rem;
  color: #D2E4FB;
}
@media screen and (max-width: 1440px) {
  .infinite-text {
    bottom: -0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .infinite-text {
    width: 100%;
    transform: translate(0);
    bottom: 4.8rem;
  }
}

#works {
  width: 100%;
  padding: 16rem 0 8rem;
}
#works > h3 {
  text-align: end;
  padding-right: 8rem;
  position: sticky;
  top: 16rem;
}
#works .projects-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#works .projects-wrapper .project-single {
  padding: 2.4rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6.4rem;
}
#works .projects-wrapper .project-single .image-container-project {
  width: 100%;
  max-width: 60rem;
  aspect-ratio: 1.5/1;
  overflow: hidden;
}
#works .projects-wrapper .project-single .image-container-project > img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#works .projects-wrapper .project-single .description-project {
  width: 100%;
  max-width: 80rem;
  text-align: center;
}
#works .projects-wrapper .project-single .description-project > .title-project {
  padding-bottom: 2.4rem;
}
#works .projects-wrapper .project-single .description-project > .text-project {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
}
@media screen and (max-width: 1440px) {
  #works {
    padding: 8rem 0;
  }
  #works .projects-wrapper .project-single {
    gap: 4rem;
    transform-origin: center center;
  }
  #works .projects-wrapper .project-single .image-container-project {
    max-width: 40rem;
  }
  #works .projects-wrapper .project-single .description-project {
    max-width: 60rem;
  }
  #works .projects-wrapper .project-single .description-project > .title-project {
    padding-bottom: 1.6rem;
  }
}/*# sourceMappingURL=styles.css.map */