:root {
  font-size: 10px; // 1rem = 10px
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "partials/spacing";
@import "partials/colors";
@import "partials/layout";
@import "partials/typography";
@import "partials/buttons";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;

  scroll-behavior: smooth;
  overflow-x: hidden;

  background-color: $black-dark;
  -webkit-tap-highlight-color: transparent;
  /* Remove o destaque de toque */
  // outline: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

svg,
img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

@import "partials/icons";
@import "partials/menu";
@import "partials/footer";
@import "partials/animations";


// MAIN
main {
  overflow: hidden;
  height: 100vh;
  max-height: 1080px;
  min-height: 400px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25rem;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(1, 14, 30, 0) 50%, rgba(1, 14, 30, 1) 100%);
  }
}

.hero {
  padding: 10vh 0 5vh;
  height: 100%;


  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 20vh;

  position: relative;
  // overflow-x: hidden;

  h3 {
    display: inline-block;
    line-height: 100%;
    padding-left: .6rem;
    position: relative;

    &.h3-name {
      top: 1.6rem;
    }

    &.h3-dev {
      top: 1.3rem;
    }
  }

  @include responsive(l) {
    &::after {
      height: 15rem;
    }

    h3 {
      padding-left: .4rem;

      &.h3-name {
        top: 1rem;
      }

      &.h3-dev {
        top: .8rem;
      }
    }
  }

  @include responsive(s) {
    // max-height: 95vh;
    padding: 10vh 2.4rem 5vh;

    h3 {
      &.h3-name {
        top: 1rem;
      }

      &.h3-dev {
        top: .8rem;
      }
    }
  }
}

.main-item-1 {
  cursor: default;

  @include spacing(pr, 6);
  align-self: flex-end;

  @include responsive(s) {
    padding-right: 0;

    h1#name {
      max-width: 27.7rem;
      text-align: right;
    }
  }
}

.main-item-2 {
  cursor: default;

  @include spacing(pl, 6);
  align-self: flex-start;

  @include responsive(s) {
    padding-left: 0;
  }
}

.main-item-3 {
  cursor: default;

  width: 100%;
  @include spacing(px, 6);
  text-align: center;
  @include typefaceBody(p2, mobile);
  pointer-events: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 800;

  .text-touch-mobile {
    opacity: 0;
  }

  .circles-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    >span {
      opacity: 0;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include spacing(my, 3);

      background-color: $white-light;

    }
  }
}

.infinite-text {
  width: 40rem;

  position: absolute;
  bottom: 15%;
  right: 0;
  transform: rotate(-45deg);

  .infinite-text-wrapper {
    cursor: default;

    white-space: nowrap;
    display: flex;

    pointer-events: none;

    h3 {
      padding: 0 .4rem;
    }

  }

  @include responsive(l) {
    // width: 50rem;
    bottom: -.8rem;
  }

  @include responsive(s) {
    width: 100%;
    transform: translate(0);
    margin-bottom: 3.2rem;
  }
}