a {
  @include typefaceBody(p3, desktop);
  text-decoration: none;
  color: $primary-light;
  transition: color .3s ease;

  &:hover {
    opacity: .7;
  }

  @include responsive(l) {
    @include typefaceBody(p3, laptop);
  }

  @include responsive(s) {
    @include typefaceBody(p2, desktop);
  }
}