// Colors of project

// Brand colors
$primary-normal: #024978;
$primary-light: #99B7CD;
$primary-dark: #002540;

$secondary-normal: #0A3670;
$secondary-light: #9AAEC9;
$secondary-dark: #011b3c;

// Neutral colors
$black-normal: #161717;
$black-light: #343536;
$black-dark: #010E1E;

$white-normal: #EFF5FD;
$white-light: #FCFDFF;
$white-dark: #D2E4FB;

// Gray scale
$gray-1: #444546;
$gray-2: #545556;
$gray-3: #656566;
$gray-4: #757576;
$gray-5: #858687;
$gray-6: #959697;
$gray-7: #A6A6A7;

// Auxiliary colors
$red-normal: #A80603;
$red-light: #DC8888;
$red-dark: #780302;

$green-normal: #21A73F;
$green-light: #9AF3AE;
$green-dark: #137228;

$yellow-normal: #C09B38;
$yellow-light: #EDD28A;
$yellow-dark: #8D7025;

// Gradient colors
// $gradient-1: 