// Layout of project

// Container devices
$container-xxl: 1900px;
$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

// Mixins
@mixin responsive($device) {
  @if $device ==xl {

    // For resolutions upper than 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  }

  @else if $device ==l {

    // For resolutions less 1440px
    @media screen and (max-width: $container-xl) {
      @content;
    }
  }

  // @else if $device ==m {

  //   // For resolutions between 960px and 1140px
  //   @media screen and (max-width: $container-l) and (min-width: $container-m) {
  //     @content;
  //   }
  // }

  @else if $device ==s {

    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  }

  // @else if $device ==xs {

  //   // For resolutions less than 540px
  //   @media screen and (max-width: $container-s) {
  //     @content;
  //   }
  // }
}

.container {
  width: 100%;
  max-width: $container-xxl;
  margin: 0 auto;
  @include spacing(px, 4);

  @include responsive(s) {}
}


// MAIN

.hero {
  padding-top: 12.8rem;
  padding-bottom: 11.2rem;
  height: 100vh;
  max-height: 1080px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  h3 {
    line-height: 0%;
    padding-left: .6rem;

    @include responsive(l) {
      padding-left: .3rem;
    }
  }

  @include responsive(l) {
    padding-top: 8.8rem;
    padding-bottom: 4.8rem;
  }
}

.main-item-1 {
  @include spacing(pr, 6);
  align-self: flex-end;
}

.main-item-2 {
  @include spacing(pl, 6);
  align-self: flex-start;
}