header {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  transition: .2s ease;

  position: fixed;
  z-index: 900;

  &.active-header {
    background-color: $black-dark;
    box-shadow: 0px 0px 60px -30px rgba(153, 183, 205, 0.90);
  }
}

.navbar {
  max-width: $container-xl;
  margin: 0 auto;
  padding: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 4.8rem;
  height: 4.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  >svg {
    width: 100%;
    height: 100%;
  }
}

.menu-desktop {
  display: block;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.8em;

  list-style-type: none;

  li a {
    padding: .8rem;

    &.active-menu {
      color: $white-light;
      font-weight: bold;
      position: relative;

      &::after {
        content: '';
        width: 75%;
        height: 2px;
        background-color: $white-light;
        position: absolute;
        bottom: .6rem;
        left: 50%;
        transform: translate(-50%);
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  @include responsive(s) {
    display: none;
  }
}

.menu-mobile {
  display: none;
  width: 4.8rem;
  height: 4.8rem;

  align-items: center;
  justify-content: center;
  cursor: pointer;

  >span {
    width: 100%;
    height: 4px;
    background-color: $white-light;
    position: relative;
    border-radius: 4px;

    &::after,
    &::before {
      content: '';
      width: 4.8rem;
      height: 4px;
      background-color: $white-light;
      position: absolute;
      border-radius: 4px;

    }

    &::after {
      bottom: 1.2rem;
    }

    &::before {
      top: 1.2rem;
    }

  }

  @include responsive(s) {
    display: flex;
  }

}