header {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  transition: .5s ease;

  position: fixed;
  z-index: 900;

  &.active-header {
    background-color: $black-dark;
    box-shadow: 0px 0px 60px -30px rgba(153, 183, 205, 0.90);
  }
}