header {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  transition: .2s ease;

  position: fixed;
  z-index: 900;

  &.active-header {
    background-color: $black-dark;
    box-shadow: 0px 0px 60px -30px rgba(153, 183, 205, 0.90);
  }

  @include responsive(l) {
    &.active-header {
      box-shadow: 0px 10px 40px -20px rgba(153, 183, 205, 0.90);
    }
  }
}

.navbar {
  max-width: $container-xl;
  margin: 0 auto;
  @include spacing(p, 2);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  @include responsive(s) {
    padding: 1.6rem;
  }
}

.logo {
  width: 4.8rem;
  height: 4.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  >svg {
    max-width: 100%;
    max-height: 100%;
  }

  @include responsive(l) {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.menu-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
    gap: 4.8rem;

    list-style-type: none;

    li a {
      display: inline-block;
      width: 100%;
      @include spacing(p, 1);


      &.active-menu {
        color: $white-light;
        font-weight: bold;

        >span {
          position: relative;

          &::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: $white-light;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
          }
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  @include responsive(s) {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 6.4rem;
    right: 0;
    background-color: $black-dark;

    pointer-events: none;
    opacity: 0;
    transition: .5s ease;

    ul {
      width: 100%;
      margin-top: -6.4rem;

      flex-direction: column;
      gap: 1.6rem;

      li {
        width: 100%;
        text-align: center;
        opacity: 0;
        transform: translateX(50px);
        transition: opacity .5s ease, transform .5s ease;

        &:nth-of-type(2) {
          transition-delay: 0.2s;
        }

        &:nth-of-type(3) {
          transition-delay: 0.4s;
        }

        &:nth-of-type(4) {
          transition-delay: 0.6s;
        }
      }
    }

    &.active-menu-mobile {
      pointer-events: visible;
      opacity: 1;
      width: 100%;

      ul li {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &:not(.active-menu-mobile) ul li {
      opacity: 0;
      transform: translateX(50px);
      transition-delay: 0s;
    }
  }
}

.menu-mobile {
  display: none;
  width: 3.2rem;
  height: 3.2rem;

  align-items: center;
  justify-content: center;
  cursor: pointer;

  >span {
    width: 100%;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 80%;
      height: 2px;
      background-color: $white-light;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      border-radius: 4px;
      transition: .5s ease;

    }

    &::before {
      bottom: .4rem;
    }

    &::after {
      top: .4rem;
    }

  }

  @include responsive(s) {
    display: flex;
  }

}

span.toggle-button-menu {
  &::before {
    bottom: -1px;
    transform: translate(-50%) rotate(-135deg);
  }

  &::after {
    top: -1px;
    transform: translate(-50%) rotate(-45deg);
  }
}