// Typography of project

@mixin typefaceTitle($size) {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;

  // H1
  @if $size ==h1 {
    font-size: clamp(8rem, 8vw + 1rem, 15.2em);
    line-height: 100%;
  }

  // H2
  @if $size ==h2 {
    font-size: clamp(5.6rem, 6vw + 1rem, 14.4em);
    line-height: 100%;
  }

  // H3
  @if $size ==h3 {
    font-size: clamp(3.2rem, 2vw + 1rem, 4.8em);
    line-height: 100%;
  }

  @if $size ==h4 {
    font-size: clamp(2.4rem, 1.5vw + .5rem, 3.2em);
    line-height: 100%;
  }
}


// BODY
@mixin typefaceBody($size: p2, $device: desktop) {
  font-family: "Roboto", sans-serif;

  // P1
  @if $size ==p1 and $device ==desktop {
    font-size: 3.2rem;
    line-height: 150%;
  }

  @if $size ==p1 and $device ==laptop {
    font-size: 2.4rem;
    line-height: 150%;
  }

  @else if $size ==p1 and $device ==mobile {
    font-size: 1.6rem;
    line-height: 150%;
  }

  // P2
  @if $size ==p2 and $device ==desktop {
    font-size: 2.4rem;
    line-height: 150%;
  }

  @if $size ==p2 and $device ==laptop {
    font-size: 1.6rem;
    line-height: 150%;
  }

  @else if $size ==p2 and $device ==mobile {
    font-size: 1.6rem;
    line-height: 150%;
  }

  // P3
  @if $size ==p3 and $device ==desktop {
    font-size: 1.6rem;
    line-height: 150%;
  }

  @if $size ==p3 and $device ==laptop {
    font-size: 1.4rem;
    line-height: 150%;
  }

  @else if $size ==p3 and $device ==mobile {
    font-size: 1.6rem;
    line-height: 150%;
  }
}

// Highlights
h1 {
  color: $white-light;
  @include typefaceTitle(h1);
}

h2 {
  color: $white-light;
  @include typefaceTitle(h2);
}

h3 {
  color: $white-light;
  @include typefaceTitle(h3);
}

h4 {
  color: $white-light;
  @include typefaceTitle(h4);
}


// Body
p {
  color: $white-normal;
  @include typefaceBody(p2, desktop);

  @include responsive(l) {
    @include typefaceBody(p2, laptop);
  }

  @include responsive(s) {
    @include typefaceBody(p2, mobile);
  }
}

.bold {
  font-weight: bold;
}

strong {
  @include typefaceBody(p2, desktop);

  @include responsive(l) {
    @include typefaceBody(p2, laptop);
  }

  @include responsive(s) {
    @include typefaceBody(p2, mobile);
  }
}

.text-center {
  text-align: center;
}