// Typography of project

@mixin typefaceTitle($size, $device: desktop) {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;

  // H1
  @if $size ==h1 and $device ==desktop {
    font-size: 15.2em;
    line-height: 100%;
  }

  @else if $size ==h1 and $device ==laptop {
    font-size: 12.8rem;
    line-height: 100%;
  }

  @else if $size ==h1 and $device ==mobile {
    font-size: 9.6rem;
    line-height: 100%;
  }

  // H2
  @if $size ==h2 and $device ==desktop {
    font-size: 14.4rem;
    line-height: 100%;
  }

  @else if $size ==h2 and $device ==laptop {
    font-size: 12rem;
    line-height: 100%;
  }

  @else if $size ==h2 and $device ==mobile {
    font-size: 8rem;
    line-height: 100%;
  }

  // H3
  @if $size ==h3 and $device ==desktop {
    font-size: 3.2rem;
    line-height: 100%;
  }

  @else if $size ==h3 and $device ==laptop {
    font-size: 2.4rem;
    line-height: 100%;
  }

  @else if $size ==h3 and $device ==mobile {
    font-size: 1.6rem;
    line-height: 100%;
  }
}


// BODY
@mixin typefaceBody($size: p2, $device: desktop) {
  font-family: "Roboto", sans-serif;

  // P1
  @if $size ==p1 and $device ==desktop {
    font-size: 3.2rem;
    line-height: 150%;
  }

  @if $size ==p1 and $device ==laptop {
    font-size: 2.4rem;
    line-height: 150%;
  }

  @else if $size ==p1 and $device ==mobile {
    font-size: 1.6rem;
    line-height: 150%;
  }

  // P2
  @if $size ==p2 and $device ==desktop {
    font-size: 2.4rem;
    line-height: 150%;
  }

  @if $size ==p2 and $device ==laptop {
    font-size: 1.6rem;
    line-height: 150%;
  }

  @else if $size ==p2 and $device ==mobile {
    font-size: 1.6rem;
    line-height: 150%;
  }

  // P3
  @if $size ==p3 and $device ==desktop {
    font-size: 1.6rem;
    line-height: 150%;
  }

  @if $size ==p3 and $device ==laptop {
    font-size: 1.4rem;
    line-height: 150%;
  }

  @else if $size ==p3 and $device ==mobile {
    font-size: 1.6rem;
    line-height: 150%;
  }
}

// Highlights
h1 {
  color: $white-light;
  @include typefaceTitle(h1, desktop);

  @include responsive(l) {
    @include typefaceTitle(h1, laptop)
  }

  @include responsive(s) {
    @include typefaceTitle(h1, mobile);
  }
}

h2 {
  color: $white-light;
  @include typefaceTitle(h2, desktop);

  @include responsive(l) {
    @include typefaceTitle(h2, laptop);
  }

  @include responsive(s) {
    @include typefaceTitle(h2, mobile);
  }
}

h3 {
  color: $white-light;
  @include typefaceTitle(h3, desktop);

  @include responsive(l) {
    @include typefaceTitle(h3, laptop);
  }

  @include responsive(s) {
    @include typefaceTitle(h3, mobile);
  }
}


// Body
p {
  color: $white-normal;
  @include typefaceBody(p2, desktop);

  @include responsive(l) {
    @include typefaceBody(p2, laptop);
  }

  @include responsive(s) {
    @include typefaceBody(p2, mobile);
  }
}

.bold {
  font-weight: bold;
}

strong {
  @include typefaceBody(p2, desktop);

  @include responsive(l) {
    @include typefaceBody(p2, laptop);
  }

  @include responsive(s) {
    @include typefaceBody(p2, mobile);
  }
}

.text-center {
  text-align: center;
}